<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motographix - Concesionario Oficial</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <nav id="NavSuperior">
        <section id="marcas">
            <a href="../index.html"><img class="Logos Empresa" src="../Material_gráfico/Logos/Logo.png" alt="logo_Empresa"></a>
            <a href="../gama.html?marca=aprilial"><img class="Logos " src="../Material_gráfico/Logos/Aprilia.png" alt="logo_Aprilia"></a>
            <a href=""><img class="Logos " src="../Material_gráfico/Logos/Ducati.png" alt="logo_Ducati"></a>
            <a href=""><img class="Logos " src="../Material_gráfico/Logos/Motoguzzi.png" alt="logo_Motoguzzi"></a>
            <a href=""><img class="Logos " src="../Material_gráfico/Logos/MvAgusta.png" alt="logo_Mvagusta">
            </a>
        </section>

        <section id="desplegables">
            <ul id="desplegables2">
                <li><a class="item">GAMA<i class="fa fa-chevron-down"></i></a>
                    <span class="accent"></span>
                    <ul class="drop-down">
                        <li><a href="../gama.html?marca=aprilia">APRILIA</a></li>
                        <li><a href="#">DUCATI</a></li>
                        <li><a href="#">MOTOGUZZI</a></li>
                        <li><a href="#">MV AGUSTA</a></li>
                    </ul>
                </li>
                <li><a  class="item">NOSOTROS <i class="fa fa-chevron-down"></i></a>
                    <span class="accent"></span>
                    <ul class="drop-down">
                        <li><a href="#">EMPRESA</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">TALLER</a></li>
                        <li><a href="#">CONTACTANOS</a></li>
                    </ul>
                </li>
                <li><a class="item">MI PERFIL <i class="fa fa-chevron-down"></i></a>
                    <span class="accent"></span>
                    <ul class="drop-down">
                        <li><a href="#">Acceder</a></li>
                        <li><a href="#">Registrarse</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>

    <aside id="menuLateral">
        <a href=""><img src="../Material_gráfico/iconos/telefono.png" alt=""></a>
        <a href=""><img src="../Material_gráfico/iconos/email.png" alt=""></a>
        <a href=""><img src="../Material_gráfico/iconos/taller.png" alt=""></a>
        <a href=""><img src="../Material_gráfico/iconos/direccion.png" alt=""></a>
    </aside>

    <main>
    </main>

    <footer>
        <section id="redes">
            <img class="iconoFooter" src="../Material_gráfico/iconos/instagram.png" alt="logo_instagram">
            <img class="iconoFooter" src="../Material_gráfico/iconos/twitter.png" alt="logo_twitter">
            <img class="iconoFooter" src="../Material_gráfico/iconos/facebook.png" alt="logo_facebook">
        </section>

        <section id="info">
            <p>Zaragoza: 666 666 666</p>
            <img class="iconoFooter" src="../Material_gráfico/iconos/email.png" alt="icono_email">
            <p>info@motographix.com</p>
            <p>2024 ALL RIGHTS RESERVED | AVISO LEGAL</p>
        </section>

    </footer>
</body>
</html>